body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #211427;
  color: white;
}

header {
  background-color: #5F29C5;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

img.main-pic {
  width: 200px;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.local-images img {
  width: 150px;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

a {
  color: #FFD700;
  text-decoration: none;
  display: block;
  margin-top: 5px;
}

.socials a {
  margin-right: 15px;
  display: inline-block;
}

button {
  background-color: #5F29C5;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-family: monospace;
  margin-top: 10px;
}

footer {
  background-color: #5F29C5;
  padding: 15px;
  text-align: center;
  margin-top: 40px;
}
